body,
html {
  margin: 0;
  padding: 0;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  color: rgb(66, 232, 222);
  font-weight: bold;
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1.2rem;
  line-height: 1.5;
}

a {
  color: #FCFD46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

/* Layout */
header {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  margin: 2rem 1rem 0;
}

header nav {
  display: contents;
}

header ul {
  list-style: none;
  display: contents;
}

header a {
  color: white;
  transition: 0.108s linear color;
}

header a:hover {
  color: rgb(198, 7, 77);
  text-decoration: none;
}

main {
  flex: 1;
  max-width: 1200px;
  padding: 1rem;
}

footer {
  padding: 1rem;
}
